@CHARSET "UTF-8";
body {
	font-family:Verdana,Tahoma,Arial,sans-serif;
	font-size:10pt;
  margin:0px;
  padding:0px;
}

h1, h2, h3, h4 {
  color:#900;
}

h3 {
  font-size:14pt;
  font-weight:bold;
  font-style:italic;
}

div#lynx_wrapper {
	margin:0px auto;
	width:780px;
}

div#header {
  background-color:#800;
  color:#FFF;
  border-bottom:1px solid #000;
  font-size:18pt;
  font-family:'Trebuchet MS',Verdana,Tahoma,Arial,sans-serif;
  padding:5px;
}

div#content {
  padding:5px;
}

div#footer {
  border-top:1px dashed #E0E0E0;
  text-align:center;
  font-size:6pt;
  margin-top:10px;
}

/** forms **/
form.basic_form label, form.basic_form input[type="text"], form.basic_form input[type="password"] {
  float:left;
  width:200px;
  height:15px;
  line-height:15px;
  margin-bottom:10px;
}

form.basic_form label, form.basic_form br {
  clear:left;
}

div.message {
  margin:20px auto;
  padding:20px;
  width:400px;
  overflow:auto;
}

div.success {
  border:1px dashed #008000;
  background-color:#9F9;
}

div.warning {
  border:1px dashed #AA0;
  background-color:#FF9;
}

div.error {
  border:1px dashed #800;
  background-color:#F99;
}
